
.vs/
SensorFeedback/bin
SensorFeedback/obj
SensorFeedback/.vs
SensorFeedbackWF/bin
SensorFeedbackWF/obj
SensorFeedbackWF/.vs

Report/report-blx.bib
Report/report.aux
Report/report.bbl
Report/report.bcf
Report/report.blg
Report/report.fdb_latexmk
Report/report.fls
Report/report.log
Report/report.pdf
Report/report.run.xml
Report/report.synctex.gz